.btn {
    background: linear-gradient(45, #6a11cb, #2575fc);
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid #fff;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    color: #fff;
}
