.panel-usuario-editar {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    gap: 16px;
  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

button.boton-panel {
    background-color: #1e90ff;
}

button.boton-panel:hover {
    background-color: #0f6cd4;
    transform: scale(1.02);
}

button.boton-cancelar {
    background-color: red;
}

button.boton-cancelar:hover {
    background-color: rgb(153, 0, 0);
    transform: scale(0.98);
}