.contenedor {
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.contenedor-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.contenedor-items img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.item-carrito {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    padding: 5px;
    max-width: 290px;
    height: auto;
}

.item-carrito-btn {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.item-carrito-btn img {
    height: 35px;
    width: 35px;
}

.item-carrito-btn button {
    flex: 1;
    min-width: 0;
    word-break: break-word;
}