.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 550px;
}