.destacados, .blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 435px;
    max-height: 435px;
    padding: 10px;
    
    border: 2px solid #000;
    border-radius: 12px;
    background-color: #fff;
    
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.destacados img, .blogs-container img {
    max-width: 100%;
    max-height: 280px;
    object-fit: contain;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;

    justify-content: stretch;
    width: 100%;
}
    
.titulo-home {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.destacado-home, .blogs-container {
    grid-column: span 1;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
    gap: 5px;
}

.banner {
    display: flex;
    flex-direction: column  ;
    gap: 15px;
}


@media (max-width: 768px) {

    .home-container {
        gap: 20px;
    }

    .titulo-home {
        grid-column: span 3;
        grid-row: auto;
        gap: 10px;
    }

    .imagenes-home {
        grid-column: span 3;
        grid-row: auto;
    }

    .destacados {
        width: 100%;
        min-height: 280px;
    }

    .destacados img {
        max-width: 100%;
        max-height: 260px;
        object-fit: contain;
    }
}
