.panel-admin-general {
    display: flex;
    flex: 1;
    min-height: 100vh;
    width: 100%;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    width: 200px;

    padding: 20px;

    background: linear-gradient(90deg, #d3d3d3, #fff);

    box-shadow: 2px 0 5px rgba(0,0,0,0.1);

    gap: 10px   ;
}

.contenedor-admin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.contenedor-admin-header {
    height: 150px;
    width: 100%;
}

.contenedor-admin-body {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    gap: 5px;
    padding: 5px;
}

.item-admin, .form-edit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    height: auto;
    min-height: 600px;
    width: 475px;

    padding: 5px;
    gap: 10px;

    background-color: #d3d3d3;
    border-radius: 5%;
}

.item-admin img {
    border-radius: 5px;
}

.admin-panel-btns, .panel-admin-btns-edit {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media(max-width: 768px){
    .panel-admin-general{
        display:flex;
        flex-direction: column;
    }
    .menu-lateral {
        flex-direction: column;
        align-items: center;
        width:auto;
        gap: 8px;
        padding: 15px;
    }

    .item-admin, .form-edit {
        width: 100%;
        min-height: auto;
        border-radius: 12px;
        padding: 10px;
    }

    .contenedor-admin-body {
        flex-direction: column;
        padding: 10px;
    }

    .admin-panel-btns, .panel-admin-btns-edit {
        flex-direction: column;
        gap: 10px;
    }


}

