.sesion-header {
  position: relative;
  cursor: pointer;
  padding: 5px;
  height: 130px;
}

.sesion-header:hover {
  cursor: pointer;
  color: #fff;
}

.sesion-panel {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d3d3d3;
  border-radius: 10px;
  min-width: 250px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transform: translateX(-50px);
  transition: all 0.3s ease;
  z-index: 1001;
}

.sesion-panel h1, .sesion-panel h3 {
  color: #fff;
}

.sesion-panel h1:hover, .sesion-panel h3:hover {
  background-color: gray;
  color: #000;
  cursor: pointer;
}

.sesion-header:hover .sesion-panel {
  opacity: 1;
  visibility: visible;
  transform: translateY(100px);
  transform: translateX(-60px);
}
